@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

html,
body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    padding-top: 300px;
}

.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.footer {
    position: relative;
    margin-top: 300px;
    padding: 3rem 0;
    color: #fff;
    background: #fff1bc;
    margin-top: auto;
}

.footer__columns {
    display: flex;
    justify-content: space-between;
}

.footer__col {
    flex: 1;
    margin-right: 20px;
}

.footer__col:last-child {
    margin-right: 0;
}

.footer__col-title {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.footer__nav-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
}

.footer__copyrights {
    padding-top: 3rem;
    margin-top: 3rem;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer__copyrights p {
    display: flex;
}

.footer__copyrights a {
    margin-left: 0.5rem;
}

/* Parallax Effect */
@keyframes parralax {
    0% {
        background-position: 260px;
    }

    100% {
        background-position: -10000vw;
    }
}

.footer__parralax {
    position: absolute;
    left: 0;
    top: -300px;
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.footer__parralax-premierplan,
.footer__parralax-secondplan {
    position: absolute;
    inset: 0;
    background-repeat: repeat-x;
    background-position-y: 100% !important;
    animation: parralax 600s linear infinite;
}

.footer__parralax-premierplan {
    background-image: url(https://i.ibb.co/RQhDWbk/premierplanv3.png);
    animation-duration: 500s;
}

.footer__parralax-secondplan {
    background-image: url(https://i.ibb.co/J3TjC4W/second-plan.png);
    animation-duration: 600s;
}