.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
    margin-top: 24px;
}
.placeImg{
    border-radius: 8px;
    flex-basis: 200px;
    height: auto;
    flex-shrink: 1;
    margin:24px 0px;
    box-shadow:0px 0px 80px 0px #183661;
}

p,h1,h4{
    padding: 0;
    margin: 0;
}

.container2{
    margin: 24px 0px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.description{
    max-width: 50%;
    color: #183661;
    font-weight: 400;
}

.wiki{
    text-decoration: none;
    font-weight: 500;
    color: #183661;
}

.map{
    max-width: 25%;
    height: auto;
    border: 5px dotted #183661;
}
